<!--
https://github.com/gitalk/gitalk/blob/master/readme-cn.md
-->

{{ if (and (not .Params.disable_comments) (or (eq .Kind "404") (and (not .IsHome) .Content))) }}

<br>
<br>
<style type="text/css">
      * {
        margin: 0;
        padding: 0;
      }
      .container {
        margin: 0 auto;
        padding-bottom: 60px;
        max-width: 720px;
        color: #6190E8;
        font-family: "PingFang SC", Helvetica, "Microsoft YaHei", Arial, sans-serif;
      }
      .hero {
        margin: 80px 0;
        text-align: center;
      }
      .logo {
        display: inline-block;
        text-decoration: none;
        height: 50px;
        line-height: 50px;
        vertical-align: middle;
      }
      .hero h1 {
        margin-left: 16px;
        display: inline-block;
        font-size: 32px;
        font-weight: 500;
        vertical-align: bottom;
      }
      .hero-intro {
        margin: 28px 0;
        font-size: 20px;
        font-weight: 300;
      }
      .hero-buttons a {
        display: inline-block;
        text-decoration: none;
        height: 36px;
        line-height: 36px;
        border-radius: 36px;
      }
      .btn-begin {
        padding: 0 20px;
        min-width: 80px;
        color: white;
        background-color: #6190E8;
      }
      .btn-github {
        margin-left: 36px;
        width: 120px;
        color: #6190E8;
        border: 1px solid #6190E8;
      }
      .demo-title {
        text-align: center;
      }
      .demo-title span {
        display: inline-block;
        padding-bottom: 10px;
        font-size: 20px;
        border-bottom: 1px dashed #6190E8;
        width: 120px;
      }
      @media (max-width: 720px) {
        .container {
          width: 90%;
        }
      }
</style>
<p class="demo-title">
  <span class="demo">评论区</span>
</p>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
<div id="gitalk-container"></div>
<script type="text/javascript">
var gitalk = new Gitalk({
  clientID: 'eed477936be7b88a8455',
  clientSecret: '32b5dde22f3c95c4fad400a31632e34221b07e83',
  repo: 'MessageBoard',
  owner: 'ShixiangWang',
  admin: ['ShixiangWang'],
  id: 'gitalk',               // Ensure uniqueness and length less than 50
  distractionFreeMode: false  // Facebook-like distraction free mode
})
gitalk.render('gitalk-container')
</script>
{{ end }}
<!--
{{ if and (not (eq .Site.DisqusShortname "")) (and (not .Params.disable_comments) (or (eq .Kind "404") (and (not .IsHome) .Content))) }}
<section class="comments">
  <div id="disqus_thread"></div>
  <script src="/js/disqusloader.min.js"></script>
  <script>
  var disqus_config = function () {
  {{ with .Site.Params.disqusURL }}
    this.page.url = "{{ . }}" +{{ if eq $.Kind "404" }} "/404.html" {{ else }} location.pathname{{ end }};
  {{ end }}
  };
  (function() {
    var inIFrame = function() {
      var iframe = true;
      try { iframe = window.self !== window.top; } catch (e) {}
      return iframe;
    };
    if (inIFrame()) return;
    var disqus_js = '//{{ .Site.DisqusShortname }}.disqus.com/embed.js';
    // do not use lazy loading when the hash means to jump to a comment
    if (location.hash.match(/^#comment/)) {
      var d = document, s = d.createElement('script');
      s.src = disqus_js; s.async = true;
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    } else {
      disqusLoader('#disqus_thread', {
        scriptUrl: disqus_js, laziness: 0, disqusConfig: disqus_config
      });
    }
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</section>
{{ end }}
-->
