{{ partial "header.html" . }}

{{ if .Content }}

{{ .Content }}

<hr class="style-one">

{{ end }}

<ul>
  <li> Recent updates (English version) </li>
<ul>
  {{ range first 8 ( where .Site.Pages.ByLastmod.Reverse "Section" "en") }}
  <li>
    <span class="date">{{ .Lastmod.Format "2006/01/02" }}</span>
    <a href="{{ .URL }}">{{ .Title }}</a>
  </li>
  {{ end }}
</ul>

</br>
<li> 最近更新 (中文版)</li>

 <ul>
  {{ range first 8 ( where .Site.Pages.ByLastmod.Reverse "Section" "cn") }}
  <li>
    <span class="date">{{ .Lastmod.Format "2006/01/02" }}</span>
    <a href="{{ .URL }}">{{ .Title }}</a>
  </li>
  {{ end }}
</ul>

</ul>

{{ partial "footer.html" . }}
